<mat-card class="candidate-card">
    <mat-card-header>
      <mat-card-title class="candidate-title">
        <span class="candidate-title__name"
          >{{ candidate.name }} {{ candidate.surname }}</span
        >
        <span class="candidate-title__seniority" [class]="seniority"
          >{{ candidate.experience }}</span
        >
      </mat-card-title>
      <mat-card-subtitle class="candidate-subtitle">
        <div class="candidate-detail">
          <span class="candidate-detail__label">Email</span>
          <span class="candidate-detail__value">{{ candidate.email }}</span>
        </div>
        <div class="candidate-detail" *ngIf="candidate.phone">
          <span class="candidate-detail__label">Phone</span>
          <span class="candidate-detail__value">{{ candidate.phone }}</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="candidate-card__content">
      <div class="candidate-skills">
        <div *ngFor="let skill of skills" class="skill">
          <span class="skill__technology">{{ skill.technology }}</span>
          <span class="skill__experience">{{ skill.experience }}</span>
        </div>
      </div>
      <h3 class="other-skills-title">Otras skills</h3>
      <div class="candidate-skills">
        <div *ngFor="let otherSkill of candidate.skills" class="skill">
          <span class="skill__name">{{ otherSkill }}</span>
        </div>
      </div>
      <div class="candidate-positions">
        <h3>Proyectos</h3>
        <mat-expansion-panel
          hideToggle
          *ngFor="let position of candidate.previousProjects"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="candidate-positions__title">
                <span>{{ position.name }}</span>
                <span class="year">{{ position.experience }} años</span>
              </div></mat-panel-title
            >
          </mat-expansion-panel-header>
          <div>
            <p class="candidate-positions__description">
              {{ position.description }}
            </p>
            <div
              *ngFor="let tech of position.technology"
              class="candidate-positions__tech"
            >
              <div>{{ tech }}</div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-button color="primary" [routerLink]="['/edit', candidate.id]">
        Editar
      </button>
      <button type="button" mat-button color="warn" (click)="remove()">Borrar</button>
    </mat-card-actions>
  </mat-card>
