<div class="add-button">
  <button
      mat-fab
      color="primary"
      aria-label="Añadir un candidato" >
      <mat-icon>add</mat-icon>
  </button>
</div>
<div class="project-list">
  <div *ngFor="let project of projectList">
      <div>{{project.name}}</div>
      <!-- <app-candidate-card
        [candidate]="candidate"
        (outDestroy)="deletedCard()"></app-candidate-card> -->
  </div>
</div>

<!-- <div class="add-button">
  <button
      mat-fab
      color="primary"
      aria-label="Añadir un candidato"
      routerLink="/create">
      <mat-icon>add</mat-icon>
  </button>
</div>
<div class="candidate-list">
  <div *ngFor="let candidate of candidates">
      <app-candidate-card
        [candidate]="candidate"
        (outDestroy)="deletedCard()"></app-candidate-card>
  </div>
</div> -->
